<% content_for :body_content_title, @photo.name %>
<% content_for :body_content_left do %>
  <article class="photo">
    <p>
      <%= link_to t('.back_to_index'), photos_url %>
    </p>
  </article>
<% end %>
<% content_for :body_content_right, render(:partial => 'recent_posts') %>

<%= render :partial => "/shared/content_page" %>
