<% content_for :body_content_title, @photo.name %>
<% content_for :body_content_left do %>
  <article class="photo">
      <p><img src="<?= @photo.image.url"></p>
    <p>
      <%= link_to t('.back_to_index'), photos_url %>
    </p>
  </article>
<% end %>

<%= render :partial => "/shared/content_page" %>
