<% content_for :body_content_title, @photo.name %>
<% content_for :body_content_left do %>
  <article class="photo">
      <p><%= image_tag @photo.image.thumbnail(:medium).url %></p>
    <p>
      <%= link_to t('.back_to_index'), photos_url %>
    </p>
  </article>
<% end %>

<%= render :partial => "/shared/content_page" %>
